[buildout]
develop = .
parts = test
extends = http://download.zope.org/zopetoolkit/index/1.0a2/ztk-versions.cfg
          http://download.zope.org/zopetoolkit/index/1.0a2/zopeapp-versions.cfg
versions = versions

[versions]

[test]
recipe = zc.recipe.testrunner
eggs = z3c.testsetup [test,]
defaults = ['--tests-pattern', '^test_.*$', '-v']
